<div class="container">
  <h2>Chat en tiempo real</h2>

  <div class="mensajes" style="max-height: 400px">
    <div
      *ngFor="let msg of mensajes"
      class="mensaje"
      [ngClass]="{
        'bg-blue-100 text-blue-800 self-start': msg.autor === 'usuario',
        'bg-gray-100 text-gray-800 self-end': msg.autor !== 'usuario'
      }"
    >
      <div>{{ msg.username }}</div>
      <div>{{ msg.contenido }}</div>
      <small class="text-xs text-gray-500">{{
        msg.fechaEnvio | date : "short"
      }}</small>
    </div>
  </div>

  <div>
    <input
      [(ngModel)]="mensaje"
      placeholder="Escribe tu mensaje aqui..."
      [disabled]="!conectado"
    />
    <button
      (click)="enviarMensaje()"
      [disabled]="!conectado || mensaje.trim() === ''"
    >
      enviar
    </button>
  </div>
</div>
